{% extends "crm/base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block link %}
<!-- No Extra plugin used -->
<link href="{% static 'crm/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css' %}" rel='stylesheet'>
<link href="{% static 'crm/assets/plugins/daterangepicker/daterangepicker.css' %}" rel='stylesheet'>
<link href="{% static 'crm/assets/plugins/toastr/toastr.min.css' }" rel='stylesheet'>
{% endblock link %}

{% block content %}
<!-- ====================================
  ——— CONTENT WRAPPER
  ===================================== -->

<div class="content-wrapper">
    <div class="content">


        <div class="bg-white border rounded">
            <div class="row no-gutters">
                <div class="col-lg-4 col-xl-3">
                    <div class="profile-content-left profile-left-spacing pt-5 pb-3 px-3 px-xl-5">
                        <div class="card text-center widget-profile px-0 border-0">
                            <div class="card-img mx-auto rounded-circle">
                                <img src="{{ user_profile.pix.url }}" alt="{{user_profile}}">
                            </div>

                            <div class="card-body">
                                <h4 class="py-2 text-dark">{{ user.first_name }} {{ user.last_name }}</h4>
                                <p>{{ user.email }}</p>
                                <a class="btn btn-primary btn-pill btn-lg my-4" href="#">{{ user.username }}</a>
                            </div>
                            <div class="contact-info pt-4">
                                    <h5 class="text-dark mb-1">User Information</h5>
                                </div>

                        </div>

                        <hr class="w-100">



                    </div>
                </div>

                <div class="col-lg-8 col-xl-9">
                    <div class="profile-content-right profile-right-spacing py-4">

                        <div class="tab-content px-3 px-xl-5" id="myTabContent">


                            <div class="tab-pane fade show active" id="settings" role="tabpanel"
                                 aria-labelledby="settings-tab">
                                <div class="tab-pane-content mt-5">
                                    <h2>Password Change Successful</h2>
                                    <p>Your password was successfully changed. You can now log in with your new password.</p>
                                    <p><a href="{% url 'login' %}">Log in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- End Content -->
</div> <!-- End Content Wrapper -->

{% endblock content %}

{% block script %}

<!-- Javascript -->
<script src="{% static 'crm/assets/plugins/charts/Chart.min.js' %}"></script>
<script src="{% static 'crm/assets/js/chart.js' %}"></script>

<script src="{% static 'crm/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
<script src="{% static 'crm/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js' %}"></script>
<script src="{% static 'crm/assets/js/vector-map.js' %}"></script>

<script src="{% static 'crm/assets/plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'crm/assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'crm/assets/js/date-range.js' %}"></script>

<script src="{% static 'crm/assets/plugins/toastr/toastr.min.js' %}"></script>
{% endblock %}