{% extends "crm/base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}


{% block link %}
<!-- No Extra plugin used -->
<link href="{% static 'crm/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css' %}" rel='stylesheet'>
<link href="{% static 'crm/assets/plugins/daterangepicker/daterangepicker.css' %}" rel='stylesheet'>
<link href="{% static 'crm/assets/plugins/toastr/toastr.min.css' }" rel='stylesheet'>
{% endblock link %}

{% block content %}

<!-- ====================================
  ——— CONTENT WRAPPER
  ===================================== -->
<div class="content-wrapper">
    <div class="content">


        <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
            <div>
                <h1>Team</h1>


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb p-0">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <span class="mdi mdi-home"></span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            app
                        </li>
                        <li class="breadcrumb-item" aria-current="page">team</li>
                    </ol>
                </nav>

            </div>

            <div>
                <a type="button" class="btn btn-primary" href="{% url 'product_admin' %}"> View
                    Products
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>{{ product }}</h2>
                    </div>

                    <div class="card-body p-1 py-xl-1 px-xl-2">
                        <img src="{% if product.pix %}{{ product.pix.url }}{% else %}{% static 'assets/img/portfolio/image.jpg' %}{% endif %}"
                                     class="img-fluid" alt="{{ product.name }}"
                                     loading="lazy">
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>{{ product.code }}</h2>
                    </div>

                    <div class="card-body p-0" data-simplebar style="height: 302px;">
                        <div class="media media-border-bottom py-3 align-items-center justify-content-between border-bottom px-5">
                            <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-primary text-white">
                                <i class="mdi mdi-format-align-justify font-size-20"></i>
                            </div>
                            <div class="media-body pr-3">

                                <p><span class="mt-0 mb-1 fw-semibold font-size-15 text-dark">Category:</span> <span class="category">{{ product.category }}</span></p>
                                <p><span class="mt-0 mb-1 fw-semibold font-size-15 text-dark">Description:</span> <span class="category">{{ product.description }}</span></p>
                                <p><span class="mt-0 mb-1 fw-semibold font-size-15 text-dark">Price:</span> <span class="category">{{ product.price }}</span></p>
                                <p><span class="mt-0 mb-1 fw-semibold font-size-15 text-dark">Added By:</span> <span class="category">{{ product.added_by }}</span></p>
                                <p><span class="mt-0 mb-1 fw-semibold font-size-15 text-dark">Date Added:</span> <span class="category">{{ product.added_on }}</span></p>
                                <p><span class="mt-0 mb-1 fw-semibold font-size-15 text-dark">Date Modified:</span> <span class="category">{{ product.modified_on }}</span></p>
                                <p><span class="mt-0 mb-1 fw-semibold font-size-15 text-dark">Modified By:</span> <span class="category">{{ product.modified_by }}</span></p>
                                <p><span class="mt-0 mb-1 fw-semibold font-size-15 text-dark">Manufactured By:</span> <span class="category">{{ product.manufacturer }}</span></p>
                                <br><p></p><br>


                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <a href="" type="button" class="mb-1 btn btn-outline-secondary">Edit</a>
                            <a href="" type="button" class="mb-1 btn btn-outline-danger">Delete</a>
                        </div>

                    </div>

                    </div>
                </div>
            </div>

        </div>

</div>


{% endblock content %}

{% block script %}

<!-- Javascript -->
<script src="{% static 'crm/assets/plugins/charts/Chart.min.js' %}"></script>
<script src="{% static 'crm/assets/js/chart.js' %}"></script>

<script src="{% static 'crm/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
<script src="{% static 'crm/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js' %}"></script>
<script src="{% static 'crm/assets/js/vector-map.js' %}"></script>

<script src="{% static 'crm/assets/plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'crm/assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'crm/assets/js/date-range.js' %}"></script>

<script src="{% static 'crm/assets/plugins/toastr/toastr.min.js' %}"></script>
{% endblock %}
