{% load static %}


        <!-- ====================================
          ——— LEFT SIDEBAR WITH OUT FOOTER
        ===================================== -->
        <!--suppress ALL -->
<aside class="left-sidebar bg-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a href="/" title="Sleek Dashboard">
                <img src="{% static 'assets/img/admin-Logo.png'  %}" alt="">

                <span class="brand-name text-truncate">Administration</span>
              </a>
            </div>

            <!-- begin sidebar scrollbar -->
            <div class="" data-simplebar style="height: 100%;">
              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">
                <li class="{% if request.path == '/accounts/' %}active{% endif %}">
                  <a class="sidenav-item-link" href="{% url 'accounts' %}" data-target="#dashboard"
                    aria-expanded="false" aria-controls="dashboard">
                    <i class="mdi mdi-view-dashboard-outline"></i>
                    <span class="nav-text">Dashboard</span>
                  </a>
                </li>

                <li class="has-sub ">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#app"
                    aria-expanded="false" aria-controls="app">
                    <i class="mdi mdi-pencil-box-multiple"></i>
                    <span class="nav-text">App</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse " id="app" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="">
                        <a class="sidenav-item-link" href="{% url 'add_product' %}">
                          <span class="nav-text">Add Product</span>
                        </a>
                      </li>

                      <li class="">
                        <a class="sidenav-item-link" href="{% url 'list_products' %}">
                          <span class="nav-text">List Products</span>
                        </a>
                      </li>

                      <li class="">
                        <a class="sidenav-item-link" href="{% url 'product_table' %}">
                          <span class="nav-text">Hoverable Product Table</span>
                        </a>
                      </li>

                      <li class="">
                        <a class="sidenav-item-link" href="{% url 'forms' %}">
                          <span class="nav-text"> Form </span>
                        </a>
                      </li>

                      <li class="">
                        <a class="sidenav-item-link" href="{% url 'list_staff' %}">
                          <span class="nav-text">Staff List</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>

                <li class="has-sub ">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#forms"
                    aria-expanded="false" aria-controls="forms">
                    <i class="mdi mdi-email-mark-as-unread"></i>
                    <span class="nav-text">Forms</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse " id="forms" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="{% if request.path == '/accounts/register/' %}active{% endif %}">
                        <a class="sidenav-item-link" href="{% url 'register' %}">
                          <span class="nav-text">Registration</span>
                        </a>
                      </li>

                      <li class="">
                        <a class="sidenav-item-link" href="input-group.html">
                          <span class="nav-text">Input Group</span>
                        </a>
                      </li>

                      <li class="">
                        <a class="sidenav-item-link" href="checkbox-radio.html">
                          <span class="nav-text">Checkbox & Radio</span>
                        </a>
                      </li>

                      <li class="">
                        <a class="sidenav-item-link" href="form-validation.html">
                          <span class="nav-text">Form Validation</span>
                        </a>
                      </li>

                      <li class="">
                        <a class="sidenav-item-link" href="form-advance.html">
                          <span class="nav-text">Form Advance</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>


                <!-- <li class="section-title">
                  UI Elements
                </li> -->

                <li class="has-sub ">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#icons"
                    aria-expanded="false" aria-controls="icons">
                    <i class="mdi mdi-diamond-stone"></i>
                    <span class="nav-text">Icons</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse " id="icons" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="">
                        <a class="sidenav-item-link" href="material-icon.html">
                          <span class="nav-text">Material Icon</span>
                        </a>
                      </li>

                      <li class="">
                        <a class="sidenav-item-link" href="flag-icon.html">
                          <span class="nav-text">Flag Icon</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>
                <!-- <li class="section-title">
                  Pages
                </li> -->

                <!-- <li class="section-title">
                  Documentation
                </li> -->
              </ul>
            </div>


          </div>
        </aside>





