{% extends "crm/base.html" %}

{% load static %}
{% load humanize %}
{% load hitcount_tags %}

{% block link %}
<!-- No Extra plugin used -->
<link href="{% static 'crm/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css' %}" rel='stylesheet'>
<link href="{% static 'crm/assets/plugins/daterangepicker/daterangepicker.css' %}" rel='stylesheet'>
<link href="{% static 'crm/assets/plugins/toastr/toastr.min.css' %}" rel='stylesheet'>
{% endblock link %}

{% block content %}

<!-- ====================================
  ——— CONTENT WRAPPER
  ===================================== -->


<div class="content-wrapper">
    <div class="content">

        <!-- Top Statistics -->

        <div class="row">

            {% for key, value in context %}

            <div class="col-xl-2 col-sm-6">
                <div class="card card-mini mb-4">
                    <div class="card-body">

                        <h2 class="mb-1"> {{ value }}</h2>

                        <p>{{ key }}</p>



                        <div class="chartjs-wrapper">
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="row">

            <div class="col-xl-4 col-lg-6 col-12">

                <!-- Top Sell Table -->
                <div class="card card-table-border-none">
                    <div class="card-header justify-content-between">
                        <h2>Products by Catalog: {{total_products}}</h2>


                        <div>
                            <button class="text-black-50 mr-2 font-size-20"><i class="mdi mdi-cached"></i></button>
                        </div>
                    </div>

                    <div class="card-body compact-units p-3 border" data-simplebar style="height: 384px;">
                      <table class="table ">
                        <tbody>
                         {% for key, value, percent in context2 %}
                          <tr>
                            <td class="text-dark">{{ key }}</td>
                            <td class="text-center"></td>
                            <td class="text-right">{{  percent|floatformat:1  }}%
                                 {% if percent > 50 %}
                                    <i class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i>
                                    {% else %}
                                    <i class="mdi mdi-arrow-down-bold text-danger pl-1 font-size-12"></i>
                                    {% endif %}
                                </td>
                          </tr>
                          {% endfor %}
                          <tr>
                            <td class="text-dark">T-Views</td>
                            <td class="text-center"></td>
                            <td class="text-right">{{ hitcount.total_hits }} <i class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i> </td>
                          </tr>

                        </tbody>
                      </table>

                    </div>
                    <div class="card-footer bg-white py-4">
                      <a href="#" class="btn-link py-3 text-uppercase">Total Views:{% for product in products %} {{ hitcount.total_hits }}{% endfor %}</a>
                    </div>
                  </div>

                </div>


            <div class="col-xl-8">
            <!-- Top Products -->
                <div class="card card-default">
                    <div class="card-header justify-content-between mb-3">
                      <h2>Top Products</h2>

                    </div>
                    <div class="my-scrollable-div p-3 border" style="height: 384px; overflow-y: auto;" >
                        <div class="card-body py-0">

                        {% for product in products %}
                      <div class="media d-flex mb-5">
                        <div class="media-image align-self-center mr-3 rounded">
                          <a href="#"><img src="{% if product.pix %}{{ product.pix.url }}{% else %}{% static 'images/portfolio/portfolio-img-1.jpg' %}{% endif %}" alt="Profile Picture" width="90" class="user-image rounded"></a>

                        </div>
                        <div class="media-body align-self-center">
                          <a href="#"><h6 class="mb-3 text-dark font-weight-medium"> {{ product.name }}</h6></a>
                          <p class="float-md-right"><span class="text-dark mr-2">{% get_hit_count for product %}</span>Views</p>
                            <p>{{ product.price|intcomma }}</p>


                        </div>
                      </div>
                        {% endfor %}
                        </div>

                      </div>
                    <div class="card-footer bg-white py-4">
                <a href="#" class="btn-link py-3 text-uppercase">Total Views: {{ hitcount.total_hits }}</a>
            </div>
                  </div>

            </div>

        </div>

    </div> <!-- End Content -->
</div> <!-- End Content Wrapper -->



{% endblock content %}

{% block script %}

<!-- Javascript -->
<script src="{% static 'crm/assets/plugins/charts/Chart.min.js' %}"></script>
<script src="{% static 'crm/assets/js/chart.js' %}"></script>

<script src="{% static 'crm/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
<script src="{% static 'crm/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js' %}"></script>
<script src="{% static 'crm/assets/js/vector-map.js' %}"></script>

<script src="{% static 'crm/assets/plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'crm/assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'crm/assets/js/date-range.js' %}"></script>

<script src="{% static 'crm/assets/plugins/toastr/toastr.min.js' %}"></script>
{% endblock %}