<!DOCTYPE html>
{% extends "store/base.html" %}

{% load static %}
{% load humanize %}

{% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
<!--      <div class="heading">-->
<!--        <div class="container">-->
<!--          <div class="row d-flex justify-content-center text-center">-->
<!--            <div class="col-lg-8">-->
<!--              <h1 class="heading-title">Product Details</h1>-->
<!--              <p class="mb-0">-->
<!--                {{ product.name }}-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Gallery</li>
          </ol>

        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Gallery</h2>
      </div><!-- End Section Title -->

      <main class="container">
        <div class="row mb-2">
        <div class="col-md-6">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis"
                >World</strong
              >
              <iframe width="560" height="315" src="https://www.youtube.com/embed/2wXDjjy40MY?si=B9x6M--iFY4zBdHi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg
                aria-label="Placeholder: Thumbnail"
                class="bd-placeholder-img"
                height="250"
                preserveAspectRatio="xMidYMid slice"
                role="img"
                width="200"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/2wXDjjy40MY?si=B9x6M--iFY4zBdHi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg
                aria-label="Placeholder: Thumbnail"
                class="bd-placeholder-img"
                height="250"
                preserveAspectRatio="xMidYMid slice"
                role="img"
                width="200"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/2wXDjjy40MY?si=B9x6M--iFY4zBdHi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success-emphasis"
                >Stage</strong
              >
              <div class="col p-4 d-flex flex-column position-static">
              <iframe src="https://www.youtube.com/embed/2wXDjjy40MY?si=B9x6M--iFY4zBdHi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            </div>
            <div class="col-auto d-none d-lg-block">
              <svg
                aria-label="Placeholder: Thumbnail"
                class="bd-placeholder-img"
                height="250"
                preserveAspectRatio="xMidYMid slice"
                role="img"
                width="200"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
      </main>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/2wXDjjy40MY?si=B9x6M--iFY4zBdHi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row justify-content-center g-5">

          <iframe width="560" height="315" src="https://www.youtube.com/embed/2wXDjjy40MY?si=B9x6M--iFY4zBdHi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </div>

      </div>

    </section><!-- /Services Section -->



  </main>
{% endblock %}

{% block script %}
<script>
  function resizeIframe() {
    try {
      const iframe = document.getElementById('myIframe');
      const doc = iframe.contentWindow.document;

      // Adjust height and width based on content
      iframe.style.height = doc.documentElement.scrollHeight + 'px';
      iframe.style.width = doc.documentElement.scrollWidth + 'px';
    } catch (error) {
      console.error("Unable to access iframe content (possible cross-origin issue).", error);
    }
  }

  // Resize when iframe loads
  document.getElementById('myIframe').addEventListener('load', resizeIframe);
</script>
{% endblock %}