<!DOCTYPE html>
{% extends "store/base.html" %}

{% load static %}
{% load humanize %}

{% block content %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title">
        <!--      <div class="heading">-->
        <!--        <div class="container">-->
        <!--          <div class="row d-flex justify-content-center text-center">-->
        <!--            <div class="col-lg-8">-->
        <!--              <h1 class="heading-title">Product Details</h1>-->
        <!--              <p class="mb-0">-->
        <!--                {{ product.name }}-->
        <!--              </p>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="current">Gallery</li>
                </ol>

            </div>
        </nav>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">


        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <div class="feature-icon me-sm-4 mb-4 mb-sm-0">
            <img src="{% static 'assets/img/logo/logo-top.png' %}" alt="">
        </div>
            <h2>Gallery</h2>
            <p>Short Videos</p>

        </div><!-- End Section Title -->


        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row justify-content-center g-5">
                <div class="col-md-3">
                    <a type="button" class="bg-transparent " data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <div class="col  d-flex flex-column position-relative">
                                <img src="{% static 'pictures/oar10.jpg' %}" class="ratio ratio-16x9" alt="picture">
                            </div>
                            <text class="d-inline-block mb-2 text-primary-emphasis" x="13%" y="40%" fill="#eceeef"
                                      dy=".5em" style="font-family: 'Lucida Console' ">Salah
                                </text>
                        </div>
                    </div>
                        </a>
                </div>
                <div class="col-md-3">
                    <a type="button" class="bg-transparent " data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop1">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <div class="col  d-flex flex-column position-relative">
                                <img src="{% static 'pictures/oar20.jpg' %}" class="ratio ratio-16x9" alt="picture">
                            </div>
                            <text class="d-inline-block mb-2 text-primary-emphasis" x="13%" y="40%" fill="#eceeef"
                                      dy=".5em" style="font-family: 'Lucida Console' ">Salah
                                </text>
                        </div>
                    </div>
                        </a>
                </div>
                <div class="col-md-3">
                    <a type="button" class="bg-transparent " data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop2">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <div class="col  d-flex flex-column position-relative">
                                <img src="{% static 'pictures/oar30.jpg' %}" class="ratio ratio-16x9" alt="picture">
                            </div>
                            <text class="d-inline-block mb-2 text-primary-emphasis" x="13%" y="40%" fill="#eceeef"
                                      dy=".5em" style="font-family: 'Lucida Console' ">Salah
                                </text>
                        </div>
                    </div>
                        </a>
                </div>
                <div class="col-md-3">
                    <a type="button" class="bg-transparent " data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop3">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <div class="col  d-flex flex-column position-relative">
                                <img src="{% static 'pictures/oar40.jpg' %}" class="ratio ratio-16x9" alt="picture">
                            </div>
                            <text class="d-inline-block mb-2 text-primary-emphasis" x="13%" y="40%" fill="#eceeef"
                                      dy=".5em" style="font-family: 'Lucida Console' ">Salah
                                </text>
                        </div>
                    </div>
                        </a>
                </div>


                <!-- Vertically centered scrollable modal -->
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">


                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">

                                    <div class="col d-flex flex-column position-relative">
                                    <iframe src="https://www.youtube.com/embed/6jkj5t0j_Qg?si=B9x6M--iFY4zBdHi?enablejsapi=1"
                                    title="YouTube video player" frameborder="0"
                                            height="600"
                                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">

                                    <div class="col d-flex flex-column position-relative">
                                    <iframe src="https://www.youtube.com/embed/HAgG7jTgtq4?si=B9x6M--iFY4zBdHi?enablejsapi=1"
                                        title="YouTube video player" frameborder="0"
                                            height="600"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">

                                    <div class="col d-flex flex-column position-relative">

                                            <iframe src="https://www.youtube.com/embed/g2JpGfZ2Xsw?si=B9x6M--iFY4zBdHi"
                                        title="YouTube video player" frameborder="0"
                                            height="600"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">

                                    <div class="col d-flex flex-column position-relative">
                                    <iframe src="https://www.youtube.com/embed/0CwU057LsvY?si=B9x6M--iFY4zBdHi?enablejsapi=1"
                                        title="YouTube video player" frameborder="0"
                                            height="600"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section><!-- /Services Section -->

</main>
{% endblock %}

{% block script %}
<!--<script>-->
<!--    function resizeIframe() {-->
<!--      try {-->
<!--        const iframe = document.getElementById('myIframe');-->
<!--        const doc = iframe.contentWindow.document;-->

<!--        // Adjust height and width based on content-->
<!--        iframe.style.height = doc.documentElement.scrollHeight + 'px';-->
<!--        iframe.style.width = doc.documentElement.scrollWidth + 'px';-->
<!--      } catch (error) {-->
<!--        console.error("Unable to access iframe content (possible cross-origin issue).", error);-->
<!--      }-->
<!--    }-->

<!--    // Resize when iframe loads-->
<!--    document.getElementById('myIframe').addEventListener('load', resizeIframe);-->


<!--    // Get all <video> elements-->
<!--const videos = document.querySelectorAll('video');-->

<!--// Pause all <video> elements except for the one that started playing-->
<!--function pauseOtherVideos({ target }) {-->
<!--  for (const video of videos) {-->
<!--    if (video !== target) {-->
<!--      video.pause();-->
<!--    }-->
<!--  }-->
<!--}-->

<!--// Listen for the 'play' event on all the <video> elements-->
<!--for (const video of videos) {-->
<!--  video.addEventListener('play', pauseOtherVideos);-->
<!--}-->
<!--    // modal script-->
<!--    const myModal = document.getElementById('myModal')-->
<!--    const myInput = document.getElementById('myInput')-->

<!--    myModal.addEventListener('shown.bs.modal', () => {-->
<!--        myInput.focus()-->

<!--        })-->
<!--</script>-->

{% endblock %}