<!DOCTYPE html>
{% extends "store/base.html" %}

{% load static %}
{% load humanize %}

{% block link %}

{% endblock link %}

{% block content %}
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8" style="font-family: 'Poppins';">
                        <h6 style="letter-spacing: 1.5px; font-weight: bold; font-size: 1rem; text-transform: uppercase;">
                            Award Winning Fashion Designer</h6>
                        <h1 class="heading-title" style="color: #d80000;">Welcome to Avada Couture & Academy</h1>
                        <small class="mb-0">
                            A visionary fashion brand and academy, crafting exquisite wears with precision and style.
                            <br>
                            Elevating the industry by nurturing aspiring designers with cutting-edge training and
                            creativity.
                        </small>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- /Hero Section -->
    <br>
    <br>

    <!-- Portfolio Section -->
    <section id="product" class="portfolio">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">

                    <div class="feature-icon me-sm-4 mb-4 mb-sm-0">
                        <img src="{% static 'assets/img/logo/logo-top.png' %}" alt="">
                    </div>


                    <h2>Product Catalogue</h2>
                    <p>View by Categories</p>

        </div><!-- End Section Title -->

        <div class="container position-sticky" data-aos="fade-up" data-aos-delay="100">

            <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                <div class="portfolio-filters-container" data-aos="fade-up" data-aos-delay="200">
                    <ul class="portfolio-filters isotope-filters">
                        <li data-filter="*" class="filter-active">All Work</li>
                        <li data-filter=".filter-Abaya">ABAYA</li>
                        <li data-filter=".filter-Batik">BATIK</li>
                        <li data-filter=".filter-Boubou">BOUBOU</li>
                        <li data-filter=".filter-Buba">BUBA</li>
                        <li data-filter=".filter-Dashiki">DASHIKI</li>
                        <li data-filter=".filter-Dirndl">DIRNDL</li>
                        <li data-filter=".filter-Kaftan">KAFTAN</li>
                        <li data-filter=".filter-Kimono">KIMONO</li>
                        <li data-filter=".filter-Sari">SARI</li>
                        <li data-filter=".filter-'Salwar Kameez'">SALWAR KAMEEZ</li>
                    </ul>
                </div>

                <div class="row g-4 isotope-container" data-aos="fade-up" data-aos-delay="300">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-4 portfolio-item isotope-item filter-{{product.category}}">
                        <div class="portfolio-card">
                            <div class="portfolio-image">
                                <img src="{% if product.pix %}{{ product.pix.url }}{% else %}{% static 'assets/img/portfolio/image.jpg' %}{% endif %}" class="img-fluid" alt="{{ product.name }}"
                                     loading="lazy">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-actions">
                                        <a href="{% if product.pix %}{{ product.pix.url }}{% else %}{% static 'assets/img/portfolio/image.jpg' %}{% endif %}"
                                           class="glightbox preview-link" data-gallery="portfolio-gallery-web"><i
                                                class="bi bi-eye"></i></a>
                                        <a href="{% url 'product-details' product.slug %}" class="details-link"><i
                                                    class="bi bi-arrow-right"></i></a>
                                            <a href="" class="details-link"><i class="bi bi-cart4"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-content">
                                <span class="category">{{ product.category }}</span>
                                <h3>{{ product.name }}</h3>
                                <div class="row">
                                    <div class="col">
                                         <p>{{ product.category.catalog }}</p>
                                    </div>
                                    <div class="col text-end">
                                         <p> <span style="text-decoration-line: line-through; text-decoration-style: double;">N</span>{{ product.price|intcomma  }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- End Portfolio Item -->
                    {% endfor %}

                </div><!-- End Portfolio Container -->

            </div>

        </div>

    </section><!-- /Portfolio Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <p>Connect With Us</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4 mb-5">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="info-card">
                        <div class="icon-box">
                            <i class="bi bi-geo-alt"></i>
                        </div>
                        <h3>Head Office</h3>
                        <p>Plot 669, R.I Uzoma street, Wuye, Abuja Nigeria.</p>

                    </div>
                </div>

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="info-card">
                        <div class="icon-box">
                            <i class="bi bi-telephone"></i>
                        </div>
                        <h3>Contact Number</h3>
                        <p>Mobile: +234 811 111 1416<br>
                            Email: reachus@avadacouture.com</p>
                    </div>
                </div>

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="info-card">
                        <div class="icon-box">
                            <i class="bi bi-clock"></i>
                        </div>
                        <h3>Opening Hour</h3>
                        <p>Monday - Saturday: 9:00 - 18:00<br>
                            Sunday: Closed</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-wrapper" data-aos="fade-up" data-aos-delay="400">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                {{ form.as_p }}
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- /Contact Section -->

</main>

{% endblock content %}